.navbar {
  color: var(--txt-color);
  background: var(--main-color) !important;
  overflow: hidden;
}
.navbar-collapse {
  flex-grow: 0 !important;
}
.navstyle {
  position: relative;
  top: 40px;
}

.navstyle a {
  border-left: 4px solid var(--primary-color) !important;
  color: var(--txt-color);
  padding: 10px;
}
.navstyle a:hover {
  color: black !important;
}
.navstyle a:last-child {
  border-left: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.searchcontainer {
  width: 240px;
  position: relative;
  top: 40px;
}
.searchinput {
  width: 100%;
  padding: 10px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 12px;
}

.searchcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 100%;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.searchcon:hover {
  background: #ee8e2d;
}
.cartstyle {
  position: relative;
  cursor: pointer;
}
.cartnum {
  position: absolute;
  top: 0px;
  right: -5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconsdivstyle {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
  top: 10px;
  right: 30px;
  margin-bottom: 20px;
}

.navbar {
  background: var(--main-color) !important;
}
.material-symbols-outlined {
  color: #f5f5f5;
}
.enicon {
  cursor: pointer;
}
.enword {
  font-family: "Inter", sans-serif;
  margin-right: 5px;
}
.heroloading {
  height: 500px;
}
/* media query for responsive*/
@media (min-width: 992px) {
  .navbar > .container-fluid {
    flex-direction: row-reverse !important;
  }
}
@media (max-width: 1200px) {
  .navstyle {
    font-size: 12px !important;
  }
}
@media (max-width: 992px) {
  .searchcontainer,
  .navstyle {
    top: 0;
  }
  .navstyle a {
    border-left: none !important;
  }
  .iconsdivstyle {
    display: none !important;
  }
}
@media (max-width: 567px) {
  .navbar form {
    display: none !important;
  }
  .searchcontainer {
    display: none !important;
  }
}
