.footerconiner {
  background: var(--main-color);
  overflow: hidden;
  font-size: 14px;
  padding: 40px ;
  padding-bottom: 120px;
  color: white;
  position: relative;
}

.inplabel {
  cursor: pointer;
}
.licolsm h6 {
  font-size: 16px;
  margin-bottom: 30px;
  position: relative;
  width: fit-content;
}
.licolsm h6::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 5px;
  right: -9px;
  bottom: -15px;
  background-image: url("/public/img/smallicon.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.footericons {
  font-size: 10px;
  color: var(--primary-color) !important;
  margin-left: 5px;
}
.licolsm {
  margin-bottom: 10px;
}

.fsearchcon {
  margin-top: 10px;
  position: relative;
}
.fsearchinp {
  height: 100%;
  width: 100%;
  padding: 10px 0px;
  padding-left: 10px;
  padding-right: 30px;
  background: #5b6872;
  color: white;
}
.fbtn {
  position: absolute;
  width: 70px;
  top: 5.5px;
  left: 5px;
}
.fsearchicon {
  position: absolute;
  top: 13px;
  right: 10px;
  color: var(--primary-color);
}
.fsearchinp::placeholder {
  color: white;
  opacity: 1;
}
.footericons1 {
  width: 12px;
  height: 12px;
  color: var(--primary-color);
  margin-left: 5px;
}
.footersearchcont {
  margin: 40px 0px;
}
.fhrstyle {
  width: 100%;
  height: 2px;
  background: white;
}
.fsocialicons {
  color: var(--primary-color);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-top: 12px;
}
.ficons {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  text-align: center;
}
.rowsec2 {
  margin-top: 40px !important;
  display: flex;
}
.fimg {
  width: 80%;
}
.fimgstyle {
  display: flex;
  justify-content: flex-end;
}
.frowsec2part1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.fimgposition{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0 !important;
}
/*responsive*/
@media (max-width: 575px) {
  .footerconiner {
    font-size: 10px;
  }
  .footerconiner {
    padding-bottom: 100px;
  }
  .footerconiner h6 {
    font-size: 14px;
  }
  .frowsec2part1,
  .fimgstyle {
    justify-content: center;
  }
  .fimg {
    width: 100%;
  }
  .col-sm-3{
    padding: 0 !important;
  }
  .footersearchcont {
    position: absolute;
    bottom: -10px;
    width: 100%;
  }
  .frowaftercon {
  position: relative;
  padding-bottom: 100px !important;
 
}
}
