#root {
  font-family: "Cairo", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  border: none !important;
  text-decoration: none !important;
}
:root {
  --main-color: #3d464d;
  --primary-color: #e99239;
  --txt-color: #f5f5f5;
}
svg {
  color: var(--txt-color);
  cursor: pointer;
}

 