#root {
  font-family: "Cairo", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none !important;
  border: none !important;
  text-decoration: none !important;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;

}
:root {
  --main-color: #3d464d;
  --primary-color: #e99239;
  --txt-color: #f5f5f5;
}
svg {
  color: var(--txt-color);
  cursor: pointer;
}
button {
  padding: 7px 5px;
  border-radius: 10px !important;
  background: #ed8823;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
button:hover {
  background: #e98e33;
}
