.slick-slide{
  background: blue;
 
}

/*slider buttons*/
.slick-prev,
.slick-next {
  background: red !important;
  top: 1000% !important;
  border: 1px solid black !important;
}
.slick-prev {
  right: 10px !important;
}
.slick-next {
  left: 90% !important;
}
